/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
.wrapper {
    width: 1024px;
    margin: auto;
}

img {
    width: 100%;
}

/*HEADER*/
/*logo*/
.logo img {
    width: 150px;
}
/*fine logo*/

/*nav*/
nav {
    background-color: lightskyblue;
    height: 60px;
    margin: 20px 0;
}
/*fine nav*/

/*banner*/
.banner {
    background-color: #e1d67a;
    height: 450px;
    margin: 20px 0;
}
/*banner*/
/*FINE HEADER*/

/*MAIN*/
.content {
    background-color: #0286ff;
    padding: 20px 0;
}

.content::after {
    content: "";
    display: table;
    clear: both;
}

.title{
    background-color: #abcfe7;
    height: 100px;
}

.col {
    float: left;
    height: 400px;
}

.col-left, .col-right {
    width: 20%;
    background-color: #abcfe7;
    height: 500px;
}

.col-center {
    width: 57%;
    background-color: #abcfe7;
    height: 500px;
    margin: 0 1.5%
    
}
/*FINE MAIN*/

/*FOOTER*/
footer {
    background-color: #8800fe;
    height: 50px;
    margin: 10px 0px;
}
/*FINE FOOTER*/