/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body {
    font-family: "Montserrat";
}
.wrapper {
    width: 1024px;
    margin: auto;
}

img {
    width: 100%;
}

.layover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.img-object-fit {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*HEADER*/
/*logo*/
.logo img {
    width: 150px;
}
/*fine logo*/

/*nav e menu*/
nav {
    margin: 20px 0;
}

.menu {
    list-style-type: none;
    padding: 10px 0px;
}

.menu li {
    display: inline-block;
    margin-right: 10px;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #a8a8a8;
    font-size: 15px;
}
/*fine nav e menu*/

/*banner*/
.banner {
    height: 440px;
    overflow: hidden;
    margin: 20px 0;
    border-radius: 10px;
    position: relative;
}

.banner .teaser {
    position: absolute;
    bottom: 60px;
    left: 40px;
    width: 53%;
    color: white;
    font-size: 13px;
}
/*banner*/
/*FINE HEADER*/

/*MAIN*/
/*titolo*/
.title{
    font-size: 15px;
    margin: 20px 0;
}

.title h2 {
    font-size: 30px;
}

.grey-text {
    color: #a8a8a8;
}
/*fine titolo*/

.content {
    padding: 20px 0;
}

.content::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    border-radius: 10px;
}

.col-left, .col-right {
    width: 20%;
}

.col-center {
    width: 57%;
    margin: 0 1.5%
}

.col-img {
    height: 200px;
    object-fit: cover;
    position: relative;
}
/*FINE MAIN*/

/*FOOTER*/
footer {
    margin: 10px 0px;
    text-align: center;
    padding: 5px;
}

.heart {
    color: red;
}
/*FINE FOOTER*/