/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1024px;
    margin: auto;
}

/*header*/
.logo {
    background-color: #e579e6;
    height: 150px;
    margin: 20px 0;
}

.bunner {
    background-color: #e1d67a;
    height: 450px;
    margin: 20px 0;
}
/* fine header*/

/*main*/
.content {
    background-color: #0286ff;
    padding: 15px 0;
}

.content::after {
    content: "";
    display: table;
    clear: both;
}

.title{
    background-color: #abcfe7;
    height: 150px;
}

.col {
    float: left;
    height: 400px;
}

.col-left, .col-right {
    width: 20%;
    background-color: #abcfe7;
    height: 500px;
}

.col-center {
    width: 57%;
    background-color: #abcfe7;
    height: 500px;
    margin: 0 1.5%
    
}
/*fine main*/

/*footer*/
footer {
    background-color: #8800fe;
    height: 50px;
    margin: 10px 0px;
}
/*fine footer*/